{% load static %}
<!DOCTYPE HTML>
<!-- https://dev.to/miacan2021/fade-in-animation-on-scroll-with-intersectionobserver-vanilla-js-4p27 -->
<html>
	<head>
		<title>TeaserNSFW</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'core/assets/css/index.css' %}" />
	</head>
	<body class="is-preload">
        <img class="teaserGif" src="{% static 'core/images/Teaser!.gif' %}" alt="TeaserGif" height="auto" width="auto"/>
		<!-- https://codepen.io/Momika/pen/ydaWmQ -->
		<div class="downloadBody">
			<h1 class="sloganText">Tiktok for OnlyFans.</h1>
			<p class="releaseDateText">Scheduled for release in June.</p>
			<img class="teaserQRCode" src="{% static 'core/images/qr-code.svg' %}" alt="TeaserQRCode" loading="lazy"/>
		</div>
		<div>
			<h3 class="screenshotsHeader">Screenshots</h3>
			<!-- TODO: Define onmouseover="enlargePreview(this)" and onClick="handleScreenshotClick(this)" functions -->
			<ul class="screenshotsGrid">
				<li>
					<img loading="lazy" src="https://vz-6a5d6088-431.b-cdn.net/b73a0b19-3788-4e0e-aaa4-e10b3ee702cc/thumbnail_6084fe80.jpg?v=1683792608" height="500px" width="250px" />
				</li>
				<li>
					<img loading="lazy" src="https://vz-6a5d6088-431.b-cdn.net/51d93670-be10-441a-84af-db23e8cafd1e/thumbnail_c1973023.jpg?v=1683793171" alt="FeedScreen" width="250" width="500"/>
				</li>
				<li>
					<img loading="lazy" src="https://vz-6a5d6088-431.b-cdn.net/d2aa1f87-5bf4-43b1-84f1-395240610bc1/thumbnail.jpg?v=1683793191" alt="ProfileScreen" width="250" width="500"/>
				</li>
				<li>
					<img loading="lazy" src="https://vz-6a5d6088-431.b-cdn.net/d5393cce-5704-441d-9515-0b58d33a3330/thumbnail_ecf14b67.jpg?v=1683793233" alt="RecordScreen" width="250" width="500"/>
				</li>
				<li>
					<img loading="lazy" src="https://vz-6a5d6088-431.b-cdn.net/3c25ce6e-ef7b-485a-93a7-d1e425706555/thumbnail_8dbc652b.jpg?v=1683793248" alt="EditVideoScreen" width="250" width="500"/>
				</li>
				<li>
					<img loading="lazy" src="https://vz-6a5d6088-431.b-cdn.net/7c2ac3cd-ef0a-4414-8844-293263ba0ee0/thumbnail.jpg?v=1683793275" alt="SelectSoundScreen" width="250" width="500"/>
				</li>
				<li>
					<img loading="lazy" src="https://vz-6a5d6088-431.b-cdn.net/7f4c5895-09c5-4490-92fc-13fd3dc46291/thumbnail.jpg?v=1683793264" alt="SubmitVideoScreen" width="250" width="500"/>
				</li>
				<li>
					<img loading="lazy" src="https://vz-6a5d6088-431.b-cdn.net/5e08a364-f28f-4215-bdb3-2ab23535715b/thumbnail.jpg?v=1683793298" alt="AuthScreen" width="250" width="500"/>
				</li>
			</ul>
		</div>
	</body>
</html>
