argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.6.0
cffi==1.15.1
cfgv==3.3.1
distlib==0.3.6
Django==4.1.6
django-environ==0.9.0
django-ninja==0.21.0
filelock==3.9.0
identify==2.5.18
nodeenv==1.7.0
platformdirs==3.0.0
pre-commit==3.0.4
pycparser==2.21
pydantic==1.10.5
PyYAML==6.0
sqlparse==0.4.3
typing_extensions==4.5.0
tzdata==2022.7
virtualenv==20.19.0
